# =========================
# 1. 기본적으로 전부 무시
# =========================
*

# =========================
# 2. Day 프로젝트 폴더는 허용
# =========================
!Day*_java/

# =========================
# 3. 각 프로젝트의 src만 허용
# =========================
!Day*_java/src/
!Day*_java/src/**

# =========================
# 4. git 설정 파일은 허용
# =========================
!.gitignore