# 1) 기본: 전부 무시
*

# 2) Day 프로젝트: 폴더 + src 허용
!Day*_java/
!Day*_java/src/
!Day*_java/src/**

# 3) Study 프로젝트도 허용
!Java_study/
!Java_study/src/
!Java_study/src/**

!Java_Study01/
!Java_Study01/src/
!Java_Study01/src/**

!Java_Study02/
!Java_Study02/src/
!Java_Study02/src/**

# 3-1) JDBC 프로젝트는 전부 포함 (src + lib + jar)
!JDBC/
!JDBC/**

# 4) git 설정 파일은 항상 허용
!.gitignore